*{
    padding: 0;
    margin: 0;

}
#fullstack{
    max-width: 50%;
    height: auto;
    border-radius: 50px;
    border-color: #000;
    margin: 15px 15px;
    
}
.generalfont{
    font-family: sans-serif;
    color: var(--bs-gray-100);
    margin: 15px;
}

#text-aboutme{
    font-family: sans-serif;
    color: var(--bs-gray-100);
    text-align: justify;
    
}
#icon-edit{
    color: var(--bs-gray-100);
    float: right;
    margin-left: 20px;
}
#img-size{
    width: 180px;
    height: 180px;
    margin: 20px;
}
.navbar-changes{
    max-width: 760px;
    height: auto;

}
.btn-toggler{
    position: absolute;
    right: 30px;
    bottom: 170px;
    
}
.offcanvas-title{
    margin-left: 80px;
}
.social-icons{
        margin-right: 150px;
}

@media (min-width: 768px){
    .navbar-changes{
        max-width: 180px;
        height: 100vh;

    }
    #img-size{
        width: 150px;
        height: 150px;
        margin-left: 0px;
    }
    .social-icons{
        padding: 2px;
        margin: 0 15px;
    }
    .generalfont{
    font-family: sans-serif;
    color: var(--bs-gray-100);
    }
    #fullstack{
    width: 170px;
    height: auto;
    border-radius: 50px;
    border-color: #000;
    margin: 15px 15px;
    }
    #text-aboutme{
    font-family: sans-serif;
    color: var(--bs-gray-100);
    text-align: justify;
    margin: 30px 30px;
    }
    #icon-edit{
    color: var(--bs-gray-100);
    margin-right: 200px;
    }
}


